<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let tempProduct of products" class="card" style="width: 18rem;">
                    
                    <a routerLink="/products/{{tempProduct.id}}">
                    <img class="card-img-top" src="{{ tempProduct.imageUrl }}" alt="Card image cap">
                    </a>

                    <div class="d-flex flex-column card-body">

                    <a routerLink="/products/{{tempProduct.id}}">
                      <h5 class="mt-auto card-title">{{ tempProduct.name }}</h5>
                    </a>

                      <p class="mt-auto card-text">{{ tempProduct.unitPrice | currency:'USD' }}</p>
                      <a href="#" class="mt-auto btn btn-primary">Add to cart</a>
                    </div>
                </div>
                <!-- if product list is empty then display a message -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found.
                </div>
            </div>
        </div>
    </div>
</div>